// variables
$gutterGap: 16px;

// dimensions
$min-height: calc(100vh - 17px);

/* Color palette */

$white: #ffffff;
$white-two: #f7f7f7;
$black: #333333;
$steel-grey: #87898b;
$silver: #e5e8e8;
$brownish-grey: #666666;
$cool-grey: #b9b8bb;
$warm-grey: #999999;
$rich-electric-blue: #0095d9;
$turquoise-blue: #00b6dd;
$ice-blue: #edf9ff;
$peacock-blue: #005595;
$tomato-99: rgba(239, 38, 38, 0.99);
$greenblue: #18bc90;
$dusty-orange: #e98233;
$duck-egg-blue: #d9eff9;
